.DS_Store
#node_modules/
/dist/
dist.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
01_mediastream/01_mediastream.iml
02_device/02_device.iml
03_takephoto/03_takephoto.iml
04_recorder/04_recorder.iml
05_desktop/05_desktop.iml
11_signal/11_signal.iml
12_peerconnection/12_peerconnection.iml
16_getstat/16_getstat.iml
19_chat/19_chat.iml
23_living/23_living.iml
